body {
    font-family: Lato, sans-serif;
    background: #444;
}

.buzz {
    display: float;
    float: left;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background: #222;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.buzz .button:nth-child(1) {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.button {
    border: solid thin black;
    display: block;
    width: 100px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: transparent;
    border-radius: 6px;
}

.button:active {
    background: #fff !important;
}
