@font-face {
    font-family: 'Avant Pixel';
    src: url(../fonts/avant_pixel.ttf) format('truetype');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Telex';
    src: url(../fonts/Telex-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url(../fonts/UbuntuMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Lato-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/Lato-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Lato-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/Lato-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Roboto-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Roboto-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/Roboto-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Library 3 am soft';
    src: url(../fonts/Library-3-am-soft.otf) format('opentype');
}
