body {
    color: #b0b0b0;
    padding: 0;
    font-size: 18px;
    font-family: Lato, sans-serif;
    background: #202020;
    margin: 0;
}

#container {
    width: 1920px;
    height: 1080px;
    outline: 1px dashed green;
}

div {
    text-align: left;
}

div#main {
    position: absolute;
    top: 4vh; left: 8.5vh;
    width: 63vw; height: 90vh;
    display: table-row;
}

div#side {
    position: absolute;
    top: 4vh; right: 7vh;
    width: 28vw; height: 90vh;
}

div#question {
    color: #fff;
    background: none;
    font-size: 8vh;
    font-family: Lato, sans-serif;
    height: 35vh;
    padding: 0 1vw;
    line-height: 1.2em;
    display: table-cell;
    vertical-align: middle;
}

div#question b {
    color: #01a7ee;
    font-weight: bold;
}

#question-number {
    display: inline-block;
    margin-bottom: 1.05vw;
}

#options {
    position: absolute;
    bottom: 9vh; left: 0;
    width: 100%;
    margin-bottom: -3vh;
    border: none;
}

#options .opinfo {
    position: absolute;
    right: 1.05vw;
}

#options .opinfo span {
    display: inline-block;
    background: #222;
    color: #fff;
    margin: 0 0.55vw;
    width: 1.2em;
    text-align: center;
    font-weight: bold;
}

div .answer {
    font-size: 5.75vh;
    padding: 1.3vh 1.4vw;
    margin: 1.3vh 0;
    min-height: 7vh;
    font-family: Telex, sans-serif;
    letter-spacing: -1px;
}

.answer.wrong {
    background: #555 !important;
    color: #222 !important;
}

.answer.blank {
    background: #444;
}

div#timer {
    position: absolute;
    top: 5.5vh; right: 0;
    padding: 1vh 0.5vw;
    margin: 2vh 1vw;
    text-align: center;
}

#timer-number {
    font-family: 'Press Start 2P';
    font-size: 18vh;
    color: #fdcf1a;
    text-shadow: 0 0 2px #222;  /* fix rendering issue in chrome */
    min-width: 21vw;
    text-align: center;
    display: inline-block;
}

#timer-number.timer-20 {
    margin-right: -0.4vw;
}

#timer-number.expired {
    color: #ea282e;
}

div#scoreboard {
    position: absolute;
    right: 0.5vw; bottom: 9vh;
    text-align: center;
}

div#scoreboard p {
    margin: 3.5vh 0;
    font-family: 'Avant Pixel';
    font-size: 4.6vh;
    color: white;
    text-align: center;
}

div#scoreboard table {
    background: none;
    box-shadow: none;
    padding-top: 3vh;
    border-spacing: 0;
    color: #888;
}

div#scoreboard td {
    text-align: center;
    vertical-align: text-bottom;
    border: none;
    padding: 0.75vh 0.3vw;
    background: none;
    font-family: Telex, monospace;
    font-size: 4.1vh;
    letter-spacing: 1px;
}

div#scoreboard td:nth-child(1) {
    padding-left: 0.7vw;
    padding-right: 1.05vw;
    text-align: right;
}

div#scoreboard td:nth-child(2) {
    font-weight: bold;
    text-align: right;
    width: 2.1ch;
    padding-right: 0.6ch;
}

div#scoreboard td:nth-child(3) {
    padding-right: 0.7vw;
    text-align: left;
}

div#scoreboard .score {
    color: #fdcf1a;
}

div#scoreboard .score-0 {
    color: #888;
}

div#scoreboard .points-label {
    font-size: 95%;
}

div#scoreboard .name .hash {
    font-size: 95%;
}

div#scoreboard .highlight {
    background: #01a7ee;
    color: #fff;
    text-shadow: 0 0 0.15vh;
    box-shadow: 0 0 4.5vh #01a7ee;  /* FIXME: ignored on safari, why? */
}

div#scoreboard .highlight .score-0 {
    color: #fff;
}

div#scoreboard .option-selected td:nth-child(1) {
    color: #fff;
    text-shadow: 0 0 1.5vh;
}

div#scoreboard .right td:nth-child(1) {
    color: #4FBA49;
    text-shadow: 0 0 1.5vh;
}

div#scoreboard .wrong td:nth-child(1) {
    color: #ea282e;
    text-shadow: 0 0 1.5vh;
}

.blue {
    background: #01a7ee;
    color: #222;
}

.orange {
    background: #f80;
    color: #222;
}

.green {
    background: #0c0;
    color: #222;
}

.yellow {
    background: #ff0;
    color: #222;
}

.blue.blank {
    border-left: 5.1vw solid #01a7ee;
}

.orange.blank {
    border-left: 5.1vw solid #f80;
}

.green.blank {
    border-left: 5.1vw solid #0c0;
}

.yellow.blank {
    border-left: 5.1vw solid #ff0;
}
