html {
    background: #000;
}

body {
    color: #b0b0b0;
    width: 1920px;
    height: 1080px;
    padding: 0;
    font-size: 18px;
    font-family: Lato, sans-serif;
    background: #202020;
    margin: 0;
}

div {
    text-align: left;
}

div#main {
    position: absolute;
    top: 35px; left: 85px;
    width: 63%; height: 90%;
    display: table-row;
}

div#side {
    position: absolute;
    top: 35px; right: 70px;
    width: 30%; height: 90%;
}

div#question {
    color: #fff;
    background: none;
    font-size: 80px;
    font-family: Lato, sans-serif;
    height: 380px;
    padding: 60px 20px;
    line-height: 1.2em;
    display: table-cell;
    vertical-align: middle;
}

div#question b {
    color: #01a7ee;
    font-weight: bold;
}

#question_number {
    display: inline-block;
    margin-bottom: 10px;
}

#options {
    position: absolute;
    bottom: 120px; left: 0;
    width: 100%;
    margin-bottom: -30px;
    border: none;
}

#options .opinfo {
    position: absolute;
    right: 20px;
}

#options .opinfo span {
    display: inline-block;
    background: #222;
    color: #fff;
    margin: 0 11px;
    width: 1.2em;
    text-align: center;
    font-weight: bold;
}

div .answer {
    font-size: 60px;
    padding: 14px 28px;
    margin: 14px 0;
    min-height: 74px;
    font-family: Telex, sans-serif;
    letter-spacing: -1px;
}

.answer.wrong {
    background: #555 !important;
    color: #222 !important;
}

.answer.blank {
    background: #444;
}

div#timer {
    position: absolute;
    top: 50px; right: 0;
    padding: 10px;
    margin: 20px;
    text-align: center;
    min-width: 300px;
    height: 300px;
    line-height: 230px;
}

#timer_number {
    font-family: 'Press Start 2P';
    font-size: 180px;
    color: #fdcf1a;
    text-shadow: 0 0 2px #222;  /* fix rendering issue in chrome */
    min-width: 410px;
    text-align: center;
    display: inline-block;
}

#timer_number.expired {
    color: #ff2020;
}

div#scoreboard {
    position: absolute;
    right: 10px; bottom: 120px;
    text-align: center;
}

div#scoreboard p {
    margin: 35px 0;
    font-family: 'Avant Pixel';
    font-size: 50px;
    color: white;
    text-align: center;
}

div#scoreboard table {
    background: none;
    box-shadow: none;
    padding-top: 30px;
    border-spacing: 0;
    color: #888;
}

div#scoreboard td {
    text-align: center;
    border: none;
    padding: 8px 6px;
    background: none;
    font-family: Telex, monospace;
    font-size: 44px;
    letter-spacing: 1px;
}

div#scoreboard td:nth-child(1) {
    padding-left: 14;
    padding-right: 20px;
    text-align: right;
}

div#scoreboard td.tscore {
    font-weight: bold;
    text-align: right;
    width: 2ch;
    padding-right: 0.6ch;
}

div#scoreboard td .hash {
    font-size: 0.95em;
    color: #777;
}

div#scoreboard td.scored {
    color: #fdcf1a !important;
}

div#scoreboard td:nth-child(3) {
    padding-right: 14px;
    text-align: left;
}

div#scoreboard .highlight {
    background: #01a7ee;
    color: #fff;
    text-shadow: 0 0 2px;
    box-shadow: 0 0 50px #01a7ee;  /* FIXME: ignored on safari, why? */
}

div#scoreboard .option-selected {
    color: #fff;
    text-shadow: 0 0 16px;
}

div#scoreboard .right {
    color: #0c0;
    text-shadow: 0 0 16px;
}

div#scoreboard .wrong {
    color: #ff2020;
    text-shadow: 0 0 16px;
}

.blue {
    background: #01a7ee;
    color: #222;
}

.orange {
    background: #f80;
    color: #222;
}

.green {
    background: #0c0;
    color: #222;
}

.yellow {
    background: #ff0;
    color: #222;
}

.blue.blank {
    border-left: 98px solid #01a7ee;
}

.orange.blank {
    border-left: 98px solid #f80;
}

.green.blank {
    border-left: 98px solid #0c0;
}

.yellow.blank {
    border-left: 98px solid #ff0;
}
