
body {
  	color: #b0b0b0;
	width: 1920;
	height: 1080;
	border: solid black;
  	padding: 0em;
	font-size: 18px;
	font-family: 'MuseoSans-500', Arial, Helvetica, Sans-serif;
	background: #202020;
}

div {
	text-align: left;
}

div, p, table {
	/*border-radius: 8px;*/
}

div#main {
	position: absolute;
	top: 2%; left: 2%;
	width: 68%; height: 90%;
	display: table-row;
}

div#side {
	position: absolute;
	top: 5%; right: 2%;
	width: 30%; height: 90%;
}

div#perg {
	color: #fff;
	background: none;
	font-size: 82px;
	letter-spacing: 1;
	font-family: 'Gill Sans', Trebuchet, sans-serif;
	height: 280px;
	margin: 40px 10px 60px 10px;
	padding: 40px 20px 20px 28px;
	line-height: 1.1em;
	display: table-cell;
	vertical-align: middle;
}

#nperg {
}

#options {
	position: absolute;
	bottom: 120px; left: 0;
	width: 100%;
	margin-bottom: -20px;
	border: none;
}

div .resp {
	font-size: 60px;
	padding: 12px 28px;
	margin: 10px;
	min-height: 72px;
	font-family: 'Gill Sans', Trebuchet, sans-serif;
	letter-spacing: 1;
}

.resp.wrong {
	background: #777 !important;
	color: #222 !important;
}

/*
.resp.correct:after {
	content: ' ✓';
	color: #0f0;
}
*/

div#statusline {
	width: 100%;
	position: absolute;
	left: 0; bottom: 0;
}

div#timer {
	position: absolute;
	top: 10px;
	right: 0px;
	padding: 10px;
	margin: 20px;
	text-align: center;
	vertical-align: center;
	min-width: 300px;
	height: 300px;
	line-height: 230px;
}

#timernumber {
	font-family: 'Press Start 2P', 'Avant Pixel';
	font-size: 205px;
	color: #fdcf1a;
	min-width: 410px;
	text-align: center;
	display: inline-block;
}

#timernumber.expired {
	color: #ea282e;
}

div#scoreboard {
	position: absolute;
	right: 30px; bottom: 132px;
	padding: 10px;
	margin: 20px 0 0 20px;
	text-align: center;
}

div#scoreboard p {
	margin: 10;
	font-family: Avant Pixel;
	font-size: 46px;
	color: white;
	text-align: center;
}

div#scoreboard table {
	margin: 0;
	background: none;
	box-shadow: none;
	padding: 10px 20px;
	background: #333;
	width: 430px;
}

div#scoreboard td {
	text-align: right;
	border: none;
	padding: 5px;
	background: none;
	font-family: 'Courier', monospace;
	font-size: 36px;
}

div#scoreboard td:nth-child(1) {
	padding-right: 18px;
}

div#scoreboard td:nth-child(2) {
	color: #fdcf1a;
	font-weight: bold;
}

div#scoreboard td:nth-child(3) {
}

.blue {
	background: #01a7ee;
	color: #222;
}

.orange {
	background: #f80;
	color: #222;
}

.green {
	background: #0c0;
	color: #222;
}

.yellow {
	background: #ff0;
	color: #222;
}
