body {
    color: #fff;
    background: #000;
    font-family: sans-serif;
}

div#main-1440x900 {
    /*text-shadow: 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white;*/
    /*border: 2px solid green;*/
    position: absolute;
    top: 0; left: 0;
    min-height: 900px;
    max-height: 900px;
    height: 900px;
    min-width: 1440px;
    max-width: 1440px;
    width: 1440px;
    font-size: 800px;
    text-align: center;
    overflow: hidden;
}

div#main {
    /*text-shadow: 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white;*/
    /*border: 2px solid green;*/
    position: absolute;
    top: 0; left: 0;
    min-height: 1080px;
    max-height: 1080px;
    height: 1080px;
    min-width: 1920px;
    max-width: 1920px;
    width: 1920px;
    font-size: 960px;
    text-align: center;
    overflow: hidden;
}

.off {
    background: #000;
    color: #000;
}

.team {
    display: inline;
    color: #333;
}

.team .hash {
    font-size: 0.8em;
    color: #222;
}

.score {
    background: #000;
    color: #FDCF1A;
}

.points_0 {
    color: #333;
}

.blue {
    background: #01A7EE;
    color: #222;
}

.orange {
    background: #EF6946;
    color: #222;
}

.green {
    background: #4FBA49;
    color: #222;
}

.yellow {
    background: #FDCF1A;
    color: #222;
}

.right {
    text-indent: -200%;  /* hide the text offscreen */
    background: #4FBA49 url('../images/heart-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #222;
}

.wrong {
    text-indent: -200%;  /* hide the text offscreen */
    background: #ea282e url('../images/x-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #222;
}

.winner {
    text-indent: -200%;  /* hide the text offscreen */
    background: #000 url('../images/cup-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #FDCF1A;
}

.highlight {
    text-indent: -200%;  /* hide the text offscreen */
    background: #01A7EE url('../images/invader-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #FDCF1A;
}
