[
  #pixelsquiz.types.Question{:id 0, :kind :multi, :score 0, :text "Test question: How do you exit Vi(m)?", :options ["ESC :q" "Control-C" "C-x C-c" "Alt-F4"], :trivia ""}
  #pixelsquiz.types.Question{:id 1, :kind :multi, :score 1, :text "Breaking the Enigma machine (WW2) is commonly attributed to which place?", :options ["Bletchley Park" "Bell Labs" "Menlo Park" "Torchwood"], :trivia ""}
  #pixelsquiz.types.Question{:id 2, :kind :multi, :score 1, :text "Elixir (the language) is based on which runtime platform?", :options ["Erlang VM" "JVM" "CLR" "V8"], :trivia ""}
  #pixelsquiz.types.Question{:id 3, :kind :multi, :score 1, :text "The Doctor's ship, the TARDIS, is a... what?", :options ["Police Box" "Gourd-shaped Cigar" "Phone Booth" "Flying Saucer"], :trivia ""}
  #pixelsquiz.types.Question{:id 4, :kind :multi, :score 1, :text "The engines commonly used in larger commercial aircraft are... of what type?", :options ["TurboFans" "TurboJets" "TurboProps" "RamJets"], :trivia ""}
  #pixelsquiz.types.Question{:id 5, :kind :multi, :score 1, :text "What's a Paamayim Nekudotayim?", :options ["A double-colon" "The apocalypse" "A type of bread" "A made up word"], :trivia ""}
  #pixelsquiz.types.Question{:id 6, :kind :multi, :score 1, :text "Where do long period comets (supposedly) come from?", :options ["Oort Cloud" "Kuiper Belt" "Asteroid Belt" "China"], :trivia ""}
  #pixelsquiz.types.Question{:id 7, :kind :multi, :score 1, :text "Besides Monkey Island itself, where does &quot;The Secret of Monkey Island&quot; take place?", :options ["Mêlée Island" "Plunder Island" "Scabb Island" "Dinky Island"], :trivia ""}
  #pixelsquiz.types.Question{:id 8, :kind :multi, :score 1, :text "Who wrote The Martian?", :options ["Andy Weir" "Ridley Scott" "Phillip K. Dick" "H.G. Wells"], :trivia ""}
  #pixelsquiz.types.Question{:id 9, :kind :multi, :score 1, :text "Besides C. Ronaldo, which other portuguese figure appeared in The Simpsons?", :options ["Carlos Lopes" "Salazar" "Emplastro" "Mário Soares"], :trivia ""}
  #pixelsquiz.types.Question{:id 10, :kind :multi, :score 1, :text "Place the following in ascending order: π, √3, e, √2", :options ["√2, √3, e, π" "π, e, √3, √2" "π, √3, √2, e" "√2, π, e, √3"], :trivia ""}
  #pixelsquiz.types.Question{:id 11, :kind :multi, :score 0, :text "Test question: Who is the original creator of Linux's systemd?", :options ["Lennart Poettering" "Cthulhu" "Sauron" "Zalgo"], :trivia ""}
  #pixelsquiz.types.Question{:id 12, :kind :multi, :score 1, :text "Who wrote the Three Laws of Robotics?", :options ["Isaac Asimov" "Dean Kamen" "Karel Čapek" "Norbert Wiener"], :trivia ""}
  #pixelsquiz.types.Question{:id 13, :kind :multi, :score 1, :text "How many different DNA base pairs are there?", :options ["2" "4" "3" "6"], :trivia ""}
  #pixelsquiz.types.Question{:id 14, :kind :multi, :score 1, :text "In the name H. R. Giger, what does the H. R. stand for?", :options ["Hans Rudolf" "Harold Ramis" "Honecker Richthofen" "Herbert Richers"], :trivia ""}
  #pixelsquiz.types.Question{:id 15, :kind :multi, :score 1, :text "IBM recently open-sourced their JVM. What's its name?", :options ["OpenJ9" "HotSpot" "IcedTea" "Jazelle"], :trivia ""}
  #pixelsquiz.types.Question{:id 16, :kind :multi, :score 1, :text "From Rick and Morty, what does Rick’s catchphase “Wubba Lubba Dub Dub” mean?", :options ["I am in great pain, please help me." "Nothing" "Peace among worlds" "I don't give a ${F_BOMB}!!!"], :trivia ""}
  #pixelsquiz.types.Question{:id 17, :kind :multi, :score 1, :text "Besides Gorilla Glass, Corning is best known for... what?", :options ["Fiber Optics" "Artificial Diamonds" "Wood Furniture" "Car Tires"], :trivia ""}
  #pixelsquiz.types.Question{:id 18, :kind :multi, :score 1, :text "Who's the author of the Blowfish cipher?", :options ["Bruce Schneier" "Vincent Rijmen" "D.J. Bernstein" "Ralph Merkle"], :trivia ""}
  #pixelsquiz.types.Question{:id 19, :kind :multi, :score 1, :text "Besides &quot;Plan 9 from Bell Labs,&quot; what is Rob Pike best known for?", :options ["Go" "Emacs" "C" "Rust"], :trivia ""}
  #pixelsquiz.types.Question{:id 20, :kind :multi, :score 1, :text "ARM (the architecture) debuted in which brand of computers?", :options ["Acorn" "Amiga" "Apple I" "ZX Spectrum"], :trivia ""}
  #pixelsquiz.types.Question{:id 21, :kind :multi, :score 1, :text "What's the Baader-Meinhof phenomenon?", :options ["Frequency Illusion" "Gambler's Fallacy" "Confirmation Bias" "Not Invented Here Syndrome"], :trivia ""}
  #pixelsquiz.types.Question{:id 22, :kind :multi, :score 0, :text "Test question: TDD is a...", :options ["Methodology" "Myth" "Sexually Transmitted Disease" "Trap"], :trivia ""}
  #pixelsquiz.types.Question{:id 23, :kind :multi, :score 1, :text "Who is the creator of Bitcoin?", :options ["Satoshi Nakamoto" "Yukihiro Matsumoto" "Vitalik Buterin" "Richard Stallman"], :trivia ""}
  #pixelsquiz.types.Question{:id 24, :kind :multi, :score 1, :text "What's the Enterprise's registry number (license plate) in Star Trek TOS?", :options ["NCC-1701" "OV-101" "NX-01" "NCC-1764"], :trivia ""}
  #pixelsquiz.types.Question{:id 25, :kind :multi, :score 1, :text "When Steve Jobs left Apple in 1985, he then founded which company?", :options ["NeXT" "Be Inc." "Copland" "Atari"], :trivia ""}
  #pixelsquiz.types.Question{:id 26, :kind :multi, :score 1, :text "SCUMM, the game engine, was first used by which game?", :options ["Manic Mansion" "The Secret of Monkey Island" "Full Throttle" "Manic Miner"], :trivia ""}
  #pixelsquiz.types.Question{:id 27, :kind :multi, :score 1, :text "What is Google's OS that's speculated to be an Android replacement?", :options ["Fuchsia" "Plan 9" "Singularity" "Illumos"], :trivia ""}
  #pixelsquiz.types.Question{:id 28, :kind :multi, :score 1, :text "What was the name of Luke Skywalkers' aunt?", :options ["Beru" "Shmi" "Jar Jar Binks" "Mon Mothma"], :trivia ""}
  #pixelsquiz.types.Question{:id 29, :kind :multi, :score 1, :text "Who plays Moss in The IT Crowd?", :options ["Richard Ayoade" "Chris O'Dowd" "Matt Berry" "Noel Fielding"], :trivia ""}
  #pixelsquiz.types.Question{:id 30, :kind :multi, :score 1, :text "In the ZX Spectrum game &quot;Jet Set Willy&quot;, what is Willy's profession?", :options ["Miner" "Soldier" "Pilot" "Policeman"], :trivia ""}
  #pixelsquiz.types.Question{:id 31, :kind :multi, :score 1, :text "The cellular automata &quot;Game of Life&quot; was created by whom?", :options ["John Conway" "Brian Silverman" "Edward Moore" "Stephen Wolfram"], :trivia ""}
  #pixelsquiz.types.Question{:id 32, :kind :multi, :score 1, :text "What is originally described by RFC 1149?", :options ["IP over Pigeons" "Electricity over IP" "DNS" "ARP"], :trivia ""}
  #pixelsquiz.types.Question{:id 33, :kind :multi, :score 0, :text "Test question: Which one of these is NOT a Jason Bourne movie?", :options ["The Bourne Shell" "The Bourne Supremacy" "The Bourne Ultimatum" "The Bourne Identity"], :trivia ""}
  #pixelsquiz.types.Question{:id 34, :kind :multi, :score 1, :text "What is the name of Google Chrome's web/layout engine?", :options ["Blink" "Gecko" "Trident" "WebKit"], :trivia ""}
  #pixelsquiz.types.Question{:id 35, :kind :multi, :score 1, :text "What did Edsger Dijkstra consider harmful?", :options ["GOTO" "C++" "Promises" "Prolog"], :trivia ""}
  #pixelsquiz.types.Question{:id 36, :kind :multi, :score 1, :text "Who's the well-known Linux kernel contributor that, in 2008, was convicted for murder?", :options ["Hans Reiser" "Linus Torvalds" "Alan Cox" "Greg Kroah-Hartman"], :trivia ""}
  #pixelsquiz.types.Question{:id 37, :kind :multi, :score 1, :text "In which company did OpenGL originate, in the early 90's?", :options ["Silicon Graphics" "3dfx" "Nvidia" "Microsoft"], :trivia ""}
  #pixelsquiz.types.Question{:id 38, :kind :multi, :score 1, :text "How do neighbors find each other in an IPv6 network?", :options ["NDP" "SLAAC" "ARPv6" "MLD"], :trivia ""}
  #pixelsquiz.types.Question{:id 39, :kind :multi, :score 1, :text "Who's the author of the Kryptos sculpture, at the CIA HQ in Langley, Virginia?", :options ["Jim Sanborn" "Jacques Lipchitz" "Andy Warhol" "Adriaen de Vries"], :trivia ""}
  #pixelsquiz.types.Question{:id 40, :kind :multi, :score 1, :text "Microsoft used to have a UNIX, what was its name?", :options ["Xenix" "A/UX" "MINIX" "VMS"], :trivia ""}
  #pixelsquiz.types.Question{:id 41, :kind :multi, :score 1, :text "Where did (Benôit) Mandelbrot work, when he first visualized the fractal with his name?", :options ["IBM" "Bell Labs" "Xerox PARC" "HP"], :trivia ""}
  #pixelsquiz.types.Question{:id 42, :kind :multi, :score 1, :text "In Linux, what's the number for SIGTERM?", :options ["15" "9" "11" "1"], :trivia ""}
  #pixelsquiz.types.Question{:id 43, :kind :multi, :score 1, :text "What's the best known example of a Lepton?", :options ["Electron" "Photon" "Neutron" "Proton"], :trivia ""}
  #pixelsquiz.types.Question{:id 44, :kind :multi, :score 1, :text "Which D.J. Bernstein cipher is currently gaining popularity in HTTPS?", :options ["ChaCha20" "AES256" "MacGuffin" "Twofish"], :trivia ""}
  #pixelsquiz.types.Question{:id 45, :kind :multi, :score 1, :text "What does &quot;Sun&quot; in &quot;Sun Microsystems&quot; (of Java fame) mean?", :options ["Stanford University Network" "Standard Unix Node" "Simple Unified Networking" "Still UnNamed"], :trivia ""}
  #pixelsquiz.types.Question{:id 46, :kind :multi, :score 1, :text "In the first Rambo movie (&quot;First Blood&quot;), what's Rambo's body count?", :options ["1" "10" "75" "120"], :trivia ""}
  #pixelsquiz.types.Question{:id 47, :kind :multi, :score 1, :text "What's the name of the AGC (Apollo Guidance Computer) Lunar module component?", :options ["Luminary099" "Comanche055" "Apache032" "Ludicrous003"], :trivia ""}
  #pixelsquiz.types.Question{:id 48, :kind :multi, :score 1, :text "What's the Monster's nickname in Stranger Things?", :options ["Demogorgon" "Gormogon" "Langolier" "Chupacabra"], :trivia ""}
  #pixelsquiz.types.Question{:id 49, :kind :multi, :score 1, :text "Ethernet was originally developed at Xerox PARC, when?", :options ["1973/1974" "1985/1986" "1967/1968" "1991/1992"], :trivia ""}
  #pixelsquiz.types.Question{:id 50, :kind :multi, :score 1, :text "What's the name of SpaceX's rockets?", :options ["Falcon" "Vega" "Antares" "Titan"], :trivia ""}
  #pixelsquiz.types.Question{:id 51, :kind :multi, :score 1, :text "The style guide for Python code is defined in which PEP?", :options ["PEP8" "PEP7" "PEP20" "PEP5"], :trivia ""}
  #pixelsquiz.types.Question{:id 52, :kind :multi, :score 1, :text "Name the author of Thus Spoke Zarathustra (2001's opening score)...", :options ["Strauss" "Bach" "Wagner" "Tchaikovsky"], :trivia ""}
  #pixelsquiz.types.Question{:id 53, :kind :multi, :score 1, :text "What's the name of macOS X's kernel?", :options ["XNU" "Hurd" "Inferno" "L4"], :trivia ""}
  #pixelsquiz.types.Question{:id 54, :kind :multi, :score 1, :text "Albert Einstein got the Nobel Prize in Physics for which theory?", :options ["Law of the Photoelectric Effect" "Special Relativity" "General Relativity" "Quantum Mechanics"], :trivia ""}
  #pixelsquiz.types.Question{:id 55, :kind :multi, :score 1, :text "Initially, at Bill Gates' suggestion, what was to be the IBM PC's operating system?", :options ["CP/M" "PC-DOS" "VMS" "OS/2"], :trivia ""}
  #pixelsquiz.types.Question{:id 56, :kind :multi, :score 1, :text "In Arthur C. Clarke's &quot;Rendezvous with Rama&quot;, what is Rama?", :options ["A ship" "An alien" "A god" "A pyramid"], :trivia ""}
  #pixelsquiz.types.Question{:id 57, :kind :multi, :score 1, :text "What's the 12th number in the Fibonacci sequence? (0, 1, 1, 2, ...)", :options ["89" "21" "233" "987"], :trivia ""}
  #pixelsquiz.types.Question{:id 58, :kind :multi, :score 1, :text "What's the hexadecimal code for capital &quot;A&quot; in EBCDIC?", :options ["0xC1" "0xD6" "0xE9" "0xF8"], :trivia ""}
  #pixelsquiz.types.Question{:id 59, :kind :multi, :score 1, :text "The &quot;F&quot; in MOSFET means what?", :options ["Field" "Fine" "Force" "Ferrous"], :trivia ""}
  #pixelsquiz.types.Question{:id 60, :kind :multi, :score 1, :text "Where's the European Space Agency's main spaceport? (Town)", :options ["Kourou" "Baikonur" "Cayenne" "Sohae"], :trivia ""}
  #pixelsquiz.types.Question{:id 61, :kind :multi, :score 1, :text "What was the original meaning of VAX (as in the historical computers)?", :options ["Virtual Address eXtension" "Valve Array eXecutor" "Very Advanced eXtensions" "Valve Assisted eXecution"], :trivia ""}
  #pixelsquiz.types.Question{:id 62, :kind :multi, :score 1, :text "A Monad... in biology... is an historical term for what?", :options ["Unicellular Organism" "Enzyme" "Gland" "Algae"], :trivia ""}
  #pixelsquiz.types.Question{:id 63, :kind :multi, :score 1, :text "In 2005, The Doctor (Who) regenerated into his 10th incarnation. Which actor played it?", :options ["David Tennant" "Christopher Eccleston" "Tom Baker" "William Hartnell"], :trivia ""}
  #pixelsquiz.types.Question{:id 64, :kind :multi, :score 1, :text "Who's the creator of FORTRAN?", :options ["John Backus" "Bjarne Stroustrup" "Niklaus Wirth" "Peter Naur"], :trivia ""}
  #pixelsquiz.types.Question{:id 65, :kind :multi, :score 1, :text "In cryptography, what is a &quot;crib&quot;?", :options ["A piece of plaintext" "A key" "A cipher" "A piece of unknown ciphertext"], :trivia ""}
  #pixelsquiz.types.Question{:id 66, :kind :multi, :score 1, :text "In 2122, a towing spaceship is on its way to Earth. What's the name of this movie?", :options ["Alien" "Pandorum" "Galaxy Quest" "Europa Report"], :trivia ""}
  #pixelsquiz.types.Question{:id 67, :kind :multi, :score 1, :text "That we know of, how many Bothans died in Star Wars: Rogue One?", :options ["None" "Many" "Some" "Lots"], :trivia ""}
  #pixelsquiz.types.Question{:id 68, :kind :multi, :score 1, :text "What's the Unicode code-point for the &quot;pile of poo&quot; emoji?", :options ["U+1F4A9" "U+0058" "U+0215" "U+1EFDJ"], :trivia ""}
  #pixelsquiz.types.Question{:id 69, :kind :multi, :score 1, :text "Who's the creator of Mr. Robot?", :options ["Sam Esmail" "Justin Roiland" "Dan Harmon" "Glen A. Larson"], :trivia ""}
  #pixelsquiz.types.Question{:id 70, :kind :multi, :score 1, :text "Who's the author of the &quot;xkcd&quot; webcomic?", :options ["Randall Munroe" "Doug Savage" "Jorge Cham" "Scott Kurtz"], :trivia ""}
  #pixelsquiz.types.Question{:id 71, :kind :multi, :score 1, :text "Who invented the Quicksort algorithm?", :options ["C.A.R. Hoare" "Edsger Dijkstra" "Niklaus Wirth" "Donald Knuth"], :trivia ""}
  #pixelsquiz.types.Question{:id 72, :kind :multi, :score 1, :text "FAST is now the largest radiotelescope in the world. Where is it located?", :options ["China" "Argentina" "Canary Islands" "Chile"], :trivia ""}
  #pixelsquiz.types.Question{:id 73, :kind :multi, :score 1, :text "Which fundamental force prevents you from crossing walls?", :options ["Electromagnetism" "Gravity" "Strong Nuclear Force" "Weak Nuclear Force"], :trivia ""}
  #pixelsquiz.types.Question{:id 74, :kind :multi, :score 1, :text "Name the original creator of NodeJS...", :options ["Ryan Dahl" "Guido van Rossum" "Rasmus Lerdorf" "Larry Wall"], :trivia ""}
  #pixelsquiz.types.Question{:id 75, :kind :multi, :score 1, :text "Which company has its HQ where Silicon Graphics used to be?", :options ["Google" "Facebook" "Microsoft" "Apple"], :trivia ""}
  #pixelsquiz.types.Question{:id 76, :kind :multi, :score 1, :text "What's the name of the leading character in the cult TV show Firefly?", :options ["Malcom Reynolds" "William Adama" "John Crichton" "Jack O'Neill"], :trivia ""}
  #pixelsquiz.types.Question{:id 77, :kind :multi, :score 1, :text "What's the name of the player-controlled character in Grim Fandango?", :options ["Manny Calavera" "Juan Rico" "Carlos Estévez" "Inigo Montoya"], :trivia ""}
  #pixelsquiz.types.Question{:id 78, :kind :multi, :score 1, :text "If you need to adjust the separation between all characters in a text, what do you adjust?", :options ["Tracking" "Kerning" "Baseline" "Weight"], :trivia ""}
  #pixelsquiz.types.Question{:id 79, :kind :multi, :score 1, :text "In electronics, what's a BJT?", :options ["Bipolar Junction Transistor" "Binary Junction Transformer" "Bacon Jam Tomato" "Binary Jump Target"], :trivia ""}
  #pixelsquiz.types.Question{:id 80, :kind :multi, :score 1, :text "What was the original name for JavaScript?", :options ["LiveScript" "ECMAScript" "Gibberish" "ActionScript"], :trivia ""}
  #pixelsquiz.types.Question{:id 81, :kind :multi, :score 1, :text "What's the first movie featuring a completely computer animated sequence?", :options ["Star Trek II" "2001: A Space Odyssey" "Tron" "The Lawnmower Man"], :trivia ""}
  #pixelsquiz.types.Question{:id 82, :kind :multi, :score 1, :text "How many nF (nanofarad) are in one uF (microfarad)?", :options ["1000" "10" "100" "10000"], :trivia ""}
  #pixelsquiz.types.Question{:id 83, :kind :multi, :score 1, :text "The creator of The Secret of Monkey Island is... who?", :options ["Ron Gilbert" "Largo LaGrande" "Guybrush Threepwood" "Michael Land"], :trivia ""}
]
