{
    :rounds [
        #pixelsquiz.types.Round{
            :number 1,
            :teams [ "naps62 frmendes" "antoniolopes nunonunes" "tiago rfgamaral" "JD557 mhleite" ],
            :questions [0 1 2 3 4 5 6 7 8 9 10 ],
            :scores [0 0 0 0]
        }
        #pixelsquiz.types.Round{
            :number 2,
            :teams [ "carlosefr francisols" "luisfcorreia basilio" "mgontav pjaneiro" "mluis someone" ]
            :questions [11 12 13 14 15 16 17 18 19 20 21 ],
            :scores [0 0 0 0]
        }
        #pixelsquiz.types.Round{
            :number 3,
            :teams [ "adbjesus Jmcerv" "mjamado Killmaster" "wisewolf Jneves" "jcazevedo Queimadus" ],
            :questions [22 23 24 25 26 27 28 29 30 31 32 ],
            :scores [0 0 0 0]
        }
        #pixelsquiz.types.Round{
            :number 4,
            :teams [ "jlbribeiro Rjegundo" "pfac grabrielpoca" "Madril Artur" "Nosuchuser Malcata" ],
            :questions [33 34 35 36 37 38 39 40 41 42 43 ],
            :scores [0 0 0 0]
        }
        #pixelsquiz.types.Round{
            :number 5, :teams ["round 1 winner" "round 2 winner" "round 3 winner" "round 4 winner" ],
            :questions [ 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 ],
            :scores [0 0 0 0]
        }
    ]
    :tiebreaker-pool [59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 ]
}
