@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Lato-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/Lato-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Lato-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/Lato-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Avant Pixel';
    src: url(../fonts/Avant-Pixel.ttf) format('truetype');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Telex';
    src: url(../fonts/Telex-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Library 3 am soft';
    src: url(../fonts/Library-3-am-soft.otf) format('opentype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src: url(../fonts/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url(../fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/FontAwesome.ttf) format('truetype');
}
