body {
    color: #b0b0b0;
    padding: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background: #1c1c1c;
    margin: 0;
    overflow: hidden;
}

tt, pre {
    font-family: 'Overpass Mono';
    letter-spacing: -0.125ch;
}

div {
    text-align: left;
}

#main {
    position: absolute;
    top: 6vh; left: 9vh;
    width: 62vw; height: 91vh;
    display: table-row;
}

#side {
    position: absolute;
    top: 6vh; right: 7vh;
    width: 28vw; height: 91vh;
}

#question {
    color: ivory;
    background: none;
    font-size: 7vh;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 35vh;
    width: 100%;
    line-height: 1.25em;
    display: flex;
    align-items: center;
}

#question .text {
    padding: 0 1.5vw 0 0.5vw;
}

#question b {
    color: #01a7ee;
    font-weight: 900;
}

#question sup {
    font-size: 60%;
}

#question tt {
    font-weight: normal;
    color: #f80;
}

#question img {
    height: 95%;
    margin-top: 2%;
}

#question img:first-child {
    margin-right: 1.2ch;
}

#question img:last-child {
    margin-left: 1.2ch;
}

#question img.frame {
    border: 6px solid ivory;
    background: ivory;
}

#question .blue {
    color: #01a7ee;
}

#question .orange {
    color: #f80;
}

#question .green {
    color: #0c0;
}

#question .yellow {
    color: #ff0;
}

#question .red {
    color: #ea282e;
}

#question .gray,
#question .grey {
    color: #777;
}

#question_header {
    display: block;
    font-size: 4.2vh;
    font-family: 'Avant Pixel', sans-serif;
    font-weight: bold;
    color: #01a7ee;
    line-height: 1em;
    margin: -0.5em 0 -1.8em 0.1ch;
}

#question-number {
    display: inline-block;
    margin-bottom: 1.05vw;
}

#main_title {
    display: block;
    font-family: 'Avant Pixel';
    font-size: 4.2vh;
    font-weight: normal;
    color: #01a7ee;
}

#main_title b {
    color: inherit !important;
    font-weight: normal !important;
}

#main_title strong {
    font-family: 'Library 3 am soft';
    display: block;
    font-size: 12vh;
    font-weight: normal;
    margin: 0.3vh 0 8.5vh -4px;
    color: ivory;
    text-shadow: 0 0 10px ivory;
}

#options {
    position: absolute;
    bottom: 9vh; left: 0;
    width: 100%;
    margin-bottom: -3vh;
    border: none;
}

#options .opinfo {
    position: absolute;
    right: 1.05vw;
}

#options .opinfo span {
    display: inline-block;
    background: #222;
    color: #fff;
    margin: 0 0.55vw;
    width: 1.2em;
    text-align: center;
    font-weight: bold;
}

#options .answer {
    font-size: 5.75vh;
    padding: 1.3vh 1.4vw;
    margin: 1.3vh 0;
    min-height: 7vh;
    font-family: 'Telex', sans-serif;
    letter-spacing: -1px;
}

#options .answer.wrong {
    background: #555 !important;
    color: #222 !important;
}

#options .answer.blank {
    background: #333;
}

#timer {
    position: absolute;
    top: 5vh; right: 0;
    padding: 1vh 0.5vw;
    margin: 2vh 1vw;
    text-align: center;
}

#timer-number {
    font-family: 'Press Start 2P';
    font-size: 18vh;
    font-weight: bold;
    letter-spacing: 0.6vh;
    color: #fdcf1a;
    text-shadow: 0 0 2px #222;  /* fix rendering issue in chrome */
    width: 38vh;
    text-align: center;
    display: inline-block;
}

#timer-number.timer-20 {
    margin-right: -1.8vh;
}

#timer-number.expired {
    color: #ea282e;
}

#timer-number.inactive {
    color: #444;
}

#scoreboard {
    position: absolute;
    right: 0.5vw; bottom: 9.5vh;
    text-align: center;
}

#scoreboard p {
    margin: 3.5vh 0 6.5vh 0;
    font-family: 'Avant Pixel';
    font-size: 4.5vh;
    color: ivory;
    text-align: center;
    opacity: 0.85;
}

#scoreboard table {
    background: none;
    box-shadow: none;
    border-spacing: 0;
    color: #777;
    background: linear-gradient(to right, rgba(0,0,0,0) 40%, rgba(255,255,255,0.04) 80%, rgba(255,255,255,0.06) 100%);
    padding: 0.2vh 0.3vw;
}

#scoreboard tr {
    height: 6.8vh;
}

#scoreboard td {
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 0.75vh 0.3vw;
    background: none;
    font-family: 'Nunito', monospace;
    font-size: 4vh;
    letter-spacing: 0.7px;
    font-weight: 600;
}

#scoreboard td:nth-child(1) {
    padding-left: 0.7vw;
    padding-right: 1.05vw;
    text-align: right;
}

#scoreboard td:nth-child(2) {
    font-weight: bold;
    text-align: right;
    width: 2.3ch;
    padding-right: 0.6ch;
}

#scoreboard td:nth-child(3) {
    padding-right: 0.7vw;
    text-align: left;
}

#scoreboard .score {
    color: #fdcf1a;
}

#scoreboard .score-0 {
    color: #777;
}

#scoreboard .name .hash {
    font-size: 90%;
    opacity: 0.90;
}

#scoreboard td:nth-child(1):before {
    position: absolute;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
}

#scoreboard .highlight td:nth-child(1) {
    color: ivory;
    text-shadow: 0 0 1.5vh;
}

#scoreboard .highlight td:nth-child(1):before {
    left: -1.7vh;
    bottom: 1.9vh;
    font-size: 0.8em;
    content: '\f0e7';  /* fa-bolt */
    color: #01a7ee;
}

#scoreboard .option-selected td:nth-child(1) {
    color: ivory;
    text-shadow: 0 0 1.5vh;
}

#scoreboard .right td:nth-child(1) {
    color: #0f0;
    text-shadow: 0 0 1.5vh;
}

#scoreboard .right td:nth-child(1):before {
    left: -2.2vh;
    bottom: 2vh;
    font-size: 0.7em;
    content: '\f00c';  /* fa-check */
}

#scoreboard .wrong td:nth-child(1) {
    color: #f00;
    text-shadow: 0 0 1.5vh;
}

#scoreboard .wrong td:nth-child(1):before {
    left: -2.3vh;
    bottom: 1.85vh;
    font-size: 0.9em;
    content: '\f00d';  /* fa-times */
}

#options .blue {
    background: #01a7ee;
    color: #222;
}

#options .orange {
    background: #f80;
    color: #222;
}

#options .green {
    background: #0c0;
    color: #222;
}

#options .yellow {
    background: #ff0;
    color: #222;
}

#options .blue.blank {
    border-left: 5.1vw solid #01a7ee;
}

#options .orange.blank {
    border-left: 5.1vw solid #f80;
}

#options .green.blank {
    border-left: 5.1vw solid #0c0;
}

#options .yellow.blank {
    border-left: 5.1vw solid #ff0;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102%; height: 101%;
    top: -1%; left: -1%;
    background: #1c1c1c80;
    margin: 0; padding: 0;
}

#sponsor.overlay {
    visibility: visible;
}

#sponsor.overlay p {
    position: absolute;
    font-size: 3.5vh;
    font-family: 'Telex';
    color: #555;
    margin: 0; padding: 0;
    left: 11%; top: 10%;
}

#sponsor.overlay img {
    height: 30%;
    margin: 5% 0 0 0;
    padding: 0;
    filter: drop-shadow(0 0 0.6vh ivory);
    opacity: 0.5;
}

#buzzed.overlay {
    visibility: hidden;
}

#buzzed.overlay .number {
    font-family: 'Telex';
    font-size: 22.2vh;
    font-weight: bold;
    text-align: center;
    width: 26vh; height: 26vh;
    border-radius: 1vh;
    border: 1.8vh solid ivory;
    background: #01a7ee;
    color: ivory;
    filter: drop-shadow(0 0 1vh ivory);
}

.outlined {
    outline: 1px dashed green;
}

#screens {
    display: none;
}

#screens, .screen {
    position: absolute;
    background: none;
    z-index: 10;
}

.size_4K {
    width: 3840px;
    height: 2160px;
}

.size_1440p {  /* 27" monitor */
    width: 2560px;
    height: 1440px;
}

.size_1080p {  /* Full HD (recommended) */
    width: 1920px;
    height: 1080px;
}

.size_720p {
    width: 1280px;
    height: 720px;
}

.size_648p {  /* for testing */
    width: 1152px;
    height: 648px;
}

.size_432p {  /* for testing */
    width: 768px;
    height: 432px;
}

.size_360p {  /* for testing */
    width: 512px;
    height: 288px;
}

.overscan {
    width: 95vw;
    height: 95vh;
    margin: 2.5vh 2.5vw;
    outline-color: yellow;
}

#disconnected {
    position: fixed;
    bottom: 0; right: 0;
    color: red;
    font-family: 'FontAwesome';
    font-size: 4vh;
    margin: 5vh 4vw;
}
