@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

body {
    color: #fff;
    background: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#main {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    font-size: 85vh;
    text-align: center;
    overflow: hidden;
    background-size: 50%;
    margin: 0;
    padding: 0;
}

.off {
    background: #000;
    color: #000;
}

.team {
    display: inline;
    color: #333;
}

.team .hash {
    font-size: 0.8em;
    color: #222;
}

.score {
    background: #000;
    color: #FDCF1A;
}

.points_0 {
    color: #333;
}

.blue {
    background: #01A7EE;
    color: #222;
}

.orange {
    background: #EF6946;
    color: #222;
}

.green {
    background: #4FBA49;
    color: #222;
}

.yellow {
    background: #FDCF1A;
    color: #222;
}

.right {
    text-indent: -200%;  /* hide the text offscreen */
    background: #4FBA49 url('../images/heart-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #222;
}

.wrong {
    text-indent: -200%;  /* hide the text offscreen */
    background: #ea282e url('../images/x-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42% !important;  /* the image is bigger than the others */
    color: #222;
}

.winner {
    text-indent: -200%;  /* hide the text offscreen */
    background: #000 url('../images/cup-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #FDCF1A;
}

.highlight {
    text-indent: -200%;  /* hide the text offscreen */
    background: #01A7EE url('../images/invader-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #FDCF1A;
}

.outlined {
    outline: 1px dashed green;
}

#screens, .screen {
    position: absolute;
    background: none;
    z-index: 10;
}

.size_1440x900 {
    width: 1440px;
    height: 900px;
    outline-color: blue !important;  /* not 16:9 */
}

.size_1080p {  /* Full HD (recommended) */
    width: 1920px;
    height: 1080px;
}

.size_720p {
    width: 1280px;
    height: 720px;
}

.size_432p {  /* for testing */
    width: 768px;
    height: 432px;
}

.size_360p {  /* for testing */
    width: 512px;
    height: 288px;
}

.overscan {
    width: 95vw;
    height: 95vh;
    margin: 2.5vh 2.5vw;
    outline-color: yellow;
}

#disconnected {
    position: fixed;
    bottom: 0; right: 0;
    width: 8vh; height: 8vh;
    background: red;
    margin: 6vh;
    z-index: 100;
}
