body {
    background: #1c1c1c;
    color: #eee;
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Avant Pixel';
    margin: 4vh;
    color: #fdcf1a;
    letter-spacing: -1px;
    font-size: 5vh;
}


#side {
    top: 0; right: 0;
    position: absolute;
    width: 19vw;
    margin: 6vh;
}

button {
    width: 100%;
    margin-bottom: 3vh;
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-weight: 900;
    display: inline-block;
    padding: 1.5vh 1.5vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 2.2vh;
    box-shadow: 0.3vw 0.5vh 1vh #000;
}

#buzzed {
    margin-top: 4vh;
    font-size: 3.6vh;
    text-align: center;
}

#buzzed .buzzed-text {
    display: inline-block;
    width: 42vw;
    text-align: right;
    vertical-align: middle;
    color: #333;
    margin-right: 1ch;
    font-weight: bold;
}

#buzzed.buzz-highlight .buzzed-team {
    color: #f80;
    text-shadow: 0 0 0.8vh #f80;
}

#buzzed.buzz-highlight .buzzed-text {
    color: ivory;
    text-shadow: 0 0 0.8vh ivory;
}

#buzzed.buzz-highlight .buzzed-text:before {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    content: '\f0e7';  /* fa-bolt */
    color: #01a7ee;
    text-shadow: 0 0 0.8vh #01a7ee;
    margin-right: 0.6ch;
}

#buzzed .buttons {
    display: inline-block;
}

#buzzed button {
    width: 12vw;
    margin-left: 0.8vw;
    font-size: 2.4vh;
    font-weight: 900;
    background: none;
    border: 3px solid #333;
    color: #333;
    padding: 1.75vh 1.75vw;
}

#buzzed.buzz-highlight button#select-right {
    border: 3px solid #0c0;
    background: #0c0;
    color: #222;
}

#buzzed.buzz-highlight button#select-wrong {
    border: 3px solid #ff2020;
    background: #ff2020;
    color: #222;
}

#timer_number {
    font-family: 'Press Start 2P';
    font-size: 7.5vh;
    font-weight: bold;
    color: #fdcf1a;
    text-shadow: 0 0 2px #222;  /* fix rendering issue in chrome */
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 1.5vh;
    min-height: 9vh;
}

#commands {
    margin-top: 5vh;
}

#commands button {
    height: 14.5vh;
    margin-bottom: 4vh;
    color: #222;
}

button#start-round {
    border: 6px solid #01a7ee;
    background: #01a7ee;
}

button#start-question {
    border: 6px solid #f80;
    background: #f80;
}

button#show-question {
    border: 6px solid #0c0;
    background: #0c0;
}

button#start-choice {
    border: 6px solid #ff0;
    background: #ff0;
}

button:hover {
    background: #eee !important;
}

button:active {
    background: #eee !important;
    box-shadow: 0 0 8px #000;
    transform: translate(4px, 4px);
}

button br {
    content: '';
    display: block;
    border-bottom: 1px solid #222222a0;
    margin: 1vh auto 1vh auto;
    width: 80%;
    height: 0;
}

#main {
    width: 70%;
    margin: 3vh;
    padding: 3vh;
    position: absolute;
    top: 6vh; left: 0;
}

#question {
    font-size: 5.3vh;
    background: none;
    border-bottom: 2px dashed #333;
    padding: 3vh 0;
}

#question .blue {
    color: #01a7ee;
}

#question .orange {
    color: #f80;
}

#question .green {
    color: #0c0;
}

#question .yellow {
    color: #ff0;
}

#question .red {
    color: #ea282e;
}

#question .gray,
#question .grey,
#question .comment {
    color: #777;
}

#question .qz_question {
    display: block;
    height: 3.8em;
    color: ivory;
    padding: 1vh 0.6vw;
    border-radius: 0.6vh;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.9em;
}

#question .qz_question b {
    font-weight: 900;
}

#question .qz_answer {
    display: block;
    min-height: 5vh;
    margin-top: 1vh;
    font-size: 0.7em;
    color: #888;
    padding-left: 0.6vw;
}

#question .qz_answer:before {
    display: inline-block;
    content: 'Answer: ';
    color: #01a7ee;
    margin: 1.1vh 0.3ch 0 0.1vw;
    font-family: 'Avant Pixel';
    font-size: 3.4vh;
}

#question .qz_trivia {
    display: block;
    min-height: 10vh;
    margin-top: 1vh;
    font-size: 2.5vh;
    font-weight: 300;
    line-height: 1.3em;
    color: #888;
    padding: 1vh 0.8vw;
}

#question_text {
    display: flex;
    align-items: center;
    height: 100%;
}

#question_text img {
    margin-right: 1ch;
    height: 100%;
}

#question_text b {
    color: #01a7ee;
    font-weight: bold;
}

#question_text audio {
    display: inline-block;
    margin: 0 1ch;
    height: 5vh;
    width: 40vh;
    vertical-align: bottom;
    opacity: 0.25;
}

#question_text .question_header {
    display: inline-block;
    color: #01a7ee;
    margin-top: -4vh;
    margin-bottom: 1vh;
    font-family: 'Avant Pixel';
    font-size: 3.4vh;
}

#question_trivia b {
    color: ivory;
    font-weight: normal;
}

#teams {
    padding: 1.5vh;
    text-align: center;
}

#teams span {
    display: inline-block;
    width: 16vh;
    height: 16vh;
    margin: 2.5vh 1vw;
    background: #222;
    border-radius: 1vh;
}

#teams span.blue {
    background: #01a7ee;
    color: #222;
}

#teams span.orange {
    background: #f80;
    color: #222;
}

#teams span.green {
    background: #0c0;
    color: #222;
}

#teams span.yellow {
    background: #ff0;
    color: #222;
}

#teams span.wrong {
    background: #ea282e url('../images/x-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
}

#teams span.right {
    background: #0c0 url('../images/heart-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
}

#teams span.highlight {
    background: #01A7EE url('../images/invader-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
}

#teams span.winner {
    background: #000 url('../images/cup-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
}

#teams span.no-bg {
    background: none;
}

#scores {
    float: right;
    width: 14vw;
    height: 18vh;
    margin: 3.2vh 1.5vw 1.5vh 2vw;
}

#scores table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-bottom: 1px dashed #333;
}

#scores td {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Courier', 'Courier New', monospace;
    color: #888;
    font-size: 2.5vh;
}

#scores tr:first-of-type {
    outline: 1px solid #333;
}

#scores tr:first-of-type td {
    color: #fdcf1a;
}

#scores td.score-0 {
    color: #333 !important;
}

#disconnected {
    position: fixed;
    bottom: 0; left: 0;
    color: red;
    font-family: 'FontAwesome';
    font-size: 5vh;
    margin: 5vh;
}
