/* Codebits LIGHT */
body {
	font-size:16px;
	margin:0;
	padding:0;
}

a:link, a:visited {
	color:#FFF;
	text-decoration:none;
	background:#0099AB;
	padding:2px 4px;
	box-shadow:0 2px 4px rgba(0,0,0,0.17);
}

a:hover {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s easv2v2//e;
	transition: all .25s ease;

}

a.external {
	background:url('/imgs/v2/external_icon.png') 4px 5px no-repeat #0099AB;
	padding-left:20px;
}

a.external:hover {
	background:url('/imgs/v2v2v2///external_icon.png') 4px 5px no-repeat #1bcde2;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}

button a:link {
	background:transparent;
	box-shadow: none;
	color:#333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Museo Sans 500', Arial, Helvetica, Sans-serif;
	font-weight: 500;
	font-style: normal;

}

h2 {
	text-transform: uppercase;
}

.container_width {
	width:90%;
	padding:0;
}


div.main {
	margin:0;
	padding:0 0 5% 0;
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 250px, #f5f5f5 62%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(250px,#ededed), color-stop(62%,#f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 250px,#f5f5f5 62%);
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 250px,#f5f5f5 62%);
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 250px,#f5f5f5 62%);
	background: linear-gradient(to bottom, #ffffff 0%,#ededed 250px,#f5f5f5 62%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}

div.header .cover {
	height:200px;
	background:url('/imgs/v2/foto_pavilhao.png') no-repeat top left;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position: center center;
}

div.header h1 {
	height:64px;
	margin:0;
	text-indent: -9999px;
	background:url('/imgs/v2/logo.png') no-repeat #FFF;
}

a.login {
	color:#000;
	float: right;
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: normal;
	padding:10px 30px;
	margin:8px;
	background: #efefef;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

a.login:hover {
	box-shadow: inset 0 0 2px #000000;
	color:#0099AB;
	background:#FFF;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}

.collapsed_menu {
  display: block;
  font-size: 0em;
  padding: 0;/*
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;*/
}
.collapsed_menu li {
  font-size: 10pt;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

.collapsed_menu a {
  font-size: 10pt;
  padding: .7em 1.5em;
  display: inline-block;}

ul.main_menu, ul.collapsed_menu {
	margin: -25px 0 20px 0;
	border:none;
	background:transparent;
	font-family: 'Museo Sans 500', Arial, Helvetica, Sans-serif;
	font-weight: 500;
	font-style: normal;
}

a#toggleNavigation span {
	position:relative;
	top:16px;
	left:8px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #000;
}

a#toggleNavigation:hover span {
	border-top: 8px solid #FFF;
}

ul.main_menu li {
	padding-left:19px;
	background:url('/imgs/v2/fold.png') top left no-repeat transparent;
	height:64px;
}

ul.main_menu li:nth-child(1) {
	padding-left:7px;
	margin-left:-7px;
	background:url('/imgs/v2/fold_home.png') top left no-repeat transparent;	
}

ul.main_menu li:nth-child(n+6) {
	background:none;
}

ul.main_menu li a {
	background: #d5ed54; /* Old browsers */
	background: -moz-linear-gradient(top, #d5ed54 0%, #b0c82c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5ed54), color-stop(100%,#b0c82c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ed54', endColorstr='#b0c82c',GradientType=0 ); /* IE6-9 */
	text-transform:uppercase;
	color:#000;
	font-weight:bold;
	box-shadow:none;
	font-size:1.375em;
	padding:0 10px;
	height:50px;
	line-height:50px;
	text-indent:7px;
}

ul.collapsed_menu {
	background: #d5ed54; /* Old browsers */
	background: -moz-linear-gradient(top, #d5ed54 0%, #b0c82c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5ed54), color-stop(100%,#b0c82c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ed54', endColorstr='#b0c82c',GradientType=0 ); /* IE6-9 */
	padding-left:8px;
}

ul.collapsed_menu li a {
	background:transparent;
	text-transform:uppercase;
	color:#000;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	font-weight:bold;
	box-shadow:none;
	font-size:1.375em;
	padding:0;
	height:50px;
	line-height:50px;
	text-indent:0;
}

ul.main_menu li a:hover, ul.main_menu li a:active, ul.collapsed_menu li a:hover, ul.main_menu li.active a {
	color:#FFF;
	text-shadow: #000 0em 0em 0.3em;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

ul.main_menu li.home {
}

ul.main_menu li.home a {
	text-indent: -9999px;
	min-width: 30px;
}

ul.main_menu li.home a span {
	display:block;
	position:relative;
	top:-50px;
	width:35px;
	height:50px;
	background:url('/imgs/v2/home_off.png') 3px 9px no-repeat;
}

ul.main_menu li.home a:hover span, ul.main_menu li.active a span {
	background:url('/imgs/v2/home_on.png') 3px 9px no-repeat;
}

ul.main_menu li.signup /*ul.collapsed_menu li.signup*/ {
	float:right;
	padding-right:64px;
	margin-right:-13px;
	background:url('/imgs/v2/fold_signup.png') top right no-repeat;
}

ul.main_menu li span {
	display:inline-block;
	width:30px;
	height:80px;
	background:url('/imgs/v2/fold.png') no-repeat;
}

p.right_text {
	text-align:right;
}

div.alertbox {
	background-image: -webkit-linear-gradient(top, #FFF 0%,#EFEFEF 100%);
	background-image: -moz-linear-gradient(top, #FFF 0%,#EFEFEF 100%);
	background-image: -o-linear-gradient(top, #FFF 0%,#EFEFEF 100%);
	background-image: -ms-linear-gradient(top, #FFF 0%,#EFEFEF 100%);
	background-image: linear-gradient(top, #FFF 0%,#EFEFEF 100%);
	border:3px solid #FFF;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	margin:0 0 5% 0;
}

div.alertbox h2 {
	height:64px;
	padding-left:7px;
	margin-left:-26px;
	padding-top:0;
	margin-top:0;
	background:url('/imgs/v2/fold_home.png') top left no-repeat transparent;	
}

div.alertbox h2 span {
	display:inline-block;
	background: #d5ed54; /* Old browsers */
	background: -moz-linear-gradient(top, #d5ed54 0%, #b0c82c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5ed54), color-stop(100%,#b0c82c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d5ed54 0%,#b0c82c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ed54', endColorstr='#b0c82c',GradientType=0 ); /* IE6-9 */
	text-transform:uppercase;
	color:#000;
	box-shadow:none;
	padding:0 0.8em;
	height:50px;
	line-height:50px;
	text-indent:7px;
	font-size: 0.8em;
}


div.alertbox h3, div.alertbox h4 {
		padding:0;
}

div.alertbox h3 {
	margin-top:-20px;
}

ul.sidebar {
	background:url('/imgs/v2/bot.png') top center no-repeat;
	padding: 190px 0 100px 0;
}

ul.sidebar.loggedin {
	background:transparent;
	padding-top: 0;
}

ul.sidebar li a:link, ul.sidebar li a:visited {
	display:block;
	font-size:0.875em;
	line-height:1.5em;
	height:1.5em;
	padding:4px;
	color:#0099AB;
	text-decoration:none;
	background:transparent;
	border-bottom:1px solid #E5E5E5;
	-webkit-box-shadow:none;
	box-shadow:none;
}

ul.sidebar li a:hover {
	display:block;
	background: #0099AB;
	color:#FFF;
	text-decoration:none;
	text-shadow:0 1px 0 #666;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}

div.idbox {
	background:#FFF;
	margin:0 4px 12px 0;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

div.idbox img {
	border:2px solid #CECECE;
	margin:auto;
	width:90%;
	margin:4%;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

div.idbox a:link img {
	background:none;
}

div.idbox p {
	width:90%;
	margin:0 4%;
	padding:0;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Museo Sans 500', Arial, Helvetica, Sans-serif;
	font-weight: 500;
	font-style: normal;
}

div.idbox p span {
	display:inline-block;
	float: right;
	color:#f26522;
}

ul.speakermosaic {
	padding:0;
	margin:0;
}

ul.speakermosaic li {
	position:relative;
	padding:0;
	margin:0;
}

ul.speakermosaic li a:link {
	background:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	padding:0;
	position: relative;
	display: block;
}

ul.speakermosaic li a span {
	text-transform: uppercase;
	font-size:0.875em;
	text-align: center;
	padding:6% 0;
	color:#FFF;
	background:rgba(0,0,0,0.6);
	bottom:4px;
	position:absolute;
	z-index:9999;
}

ul.speakermosaic li a:hover span {
	background:rgba(0,153,171,0.6);
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}

ul.profilebox {
	padding:0;
	margin:0;
}

ul.profilebox li {
	background:#dfdfdf;
	border:4px solid #FFF;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.2);
	box-shadow:0 2px 3px rgba(0,0,0,0.2);
	display:block;
}

ul.profilebox li div.space {
	padding:0;
	margin:4px;
}

ul.profilebox li div.h_space {
	padding:0;
}

ul.profilebox h3 {
	padding:0 0 0.15em 0;
}

/* Blog */
div.blog {
	background:url('/imgs/v2/bkg_blog.png') top left repeat-x #D7D8DA;
	padding-bottom:2.5em;
	padding-top:3px;
}

div.blog div.container_width {
	max-width: 90%;
	background:url('/imgs/v2/bkg_blog_area.png') top left repeat-x transparent;
	
}
h2.blogtitle {
	height:64px;
	padding:0;
	padding-left:7px;
	margin-left:-32px;
	background:url('/imgs/v2/fold_home.png') top left no-repeat transparent;	
}

h2.blogtitle a {
	background: -webkit-linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%);
	background: -moz-linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%);
	background: -o-linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%);
	background: -ms-linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%);
	background: linear-gradient(to bottom, #d5ed54 0%,#b0c82c 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ed54', endColorstr='#b0c82c',GradientType=0 );
	/* IE6-9 */
	text-transform:uppercase;
	color:#000;
	-webkit-box-shadow:none;
	box-shadow:none;
	padding:0 0.8em;
	height:50px;
	line-height:50px;
	text-indent:7px;
	font-size: 0.8em;
}

div.post {
	padding-bottom:2.5em;
}

h3.posttitle a {
	background:transparent;
	color:#0f2a55;
	font-weight:normal;
	-webkit-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	font-size:0.9em;
}

p.blog_metadata {
	font-size:0.75em;
	margin-bottom:2em;
}

span.blog_tag a:link, span.blog_tag a:visited {
	border:1px solid #FFF;
	background:transparent;
	text-decoration:none;
	color:#333;
	padding:2px;
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.17);
	box-shadow:0 2px 4px rgba(0,0,0,0.17);
}

span.blog_tag a:hover {
	background:#FFF;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}

footer {
	min-height:200px;
	background:#393939;
}

/* Tables */
table {
	margin:2em 0;
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}

table td {
	text-align: left;
}

table td, table th {
	padding:0 8px;
	text-align: left;
}

table td h4 {
	padding: 0;
}

table td h4 a:link {
	font-size:1.2em;
	background:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color:#0099AB;
}

table td h4 a:hover {
	color:#1bcde2;
	text-decoration:underline;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}


/*table tr:nth-child(odd) td {
  background-color: #ddd;
}*/

table td p.position {
	text-align: center;
	font-size:1.5em;
}

table td p.votes {
	font-size: 2.5em;
	text-align: center;
	padding:0;
	margin:0;
}

table tr:hover td {
	background-color: #DCF5FC;
  	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

table.calendar {
	width:100%;
	border:none;
}

/*Calendar*/
div.calendar {
	margin:2em 0;
}

div.calendar div.g100 {
	border-bottom:1px solid #929292;
	margin-bottom: 0.625em;
	background-image: -webkit-linear-gradient(top, #ddd 0%, #eee 62%);
	background-image: -moz-linear-gradient(top, #ddd 0%, #eee 62%);
	background-image: -o-linear-gradient(top, #ddd 0%, #eee 62%);
	background-image: -ms-linear-gradient(top, #ddd 0%, #eee 62%);
	background-image: linear-gradient(top, #ddd 0%, #eee 62%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd', endColorstr='#eee',GradientType=0 );
	/* IE6-9 */
}

div.calendar div.space, div.alertbox div.space {
	margin:0;
}

div.calendar h2 {
	text-align: center;
	text-transform: uppercase;
	text-shadow:0px 1px 0 #FFF;
	font-weight: normal;
	background:#e2e2e2;
	font-size:1.6em;
	padding:0;
}

div.calendar h3 {
	color:#5d5d5d;
	text-shadow:0px 1px 0 #FFF;
	font-size:2.5em;
	margin-bottom:0.1em;
	margin-top:0;
	padding:0;
}

div.calendar h4 {
	font-size: 1.1em;
	padding:0;
}

div.calendar div.g25 h4 {
	font-size:1em;
}

div.calendar h4 a:link, div.calendar h4 a:active, div.calendar p a:link, div.calendar p a:active {
	color:#0099ab;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding:0px;
}

div.calendar h4 a:hover, div.calendar p a:hover {
	text-decoration: underline;
}

div.calendar a.fav:link {
	display:inline-block;
	font-size: 0.7em;
	margin:0 1em;
	padding:3px;
}

div.calendar div.g25 div.h_space {
	margin:0;
	padding:0 1em 0 0;
}

div.calendar div.g25 p.notes, div.calendar div.g25 p.author{
	font-size:0.875em;
}

div.calendar p.fdesk, div.calendar p.stage_m, div.calendar p.stage_a, div.calendar p.stage_b, div.calendar p.stage_c, div.calendar p.other_places {
	text-transform: uppercase;
	color:#FFF;
	font-weight: bold;
	display:inline-block;
	font-size:0.75em;
	padding:0 2px;
	margin:0;
}

p.fdesk {
		background:#008865;
}

p.stage_m {
		background:#96526b;
}

p.stage_a {
		background:#d17869;
}

p.stage_b {
		background:#ebad60;
}

p.stage_c {
		background:#8bab8d;
}

p.other_places {
		background:#999;
}

/*Your page + badges*/

div.badges {
	margin:3% 0;
}

img.bigbadge {
	width:512px;
}

div.badges img {
	width:90px;

}

div.badgedesc {
	padding-top:5em;
}
div.peoplewall img {
	width:48px;
}

div.badges a:link, div.badges a:visited, div.peoplewall a:link, div.peoplewall a:visited {
	background:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin:0;
	padding:0;

}

div.badges a:hover img, div.peoplewall a:hover img {
	opacity:0.6;
	filter:alpha(opacity=40);
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}

ul.mininav {
	margin:0;
	padding:12px 0 12px 0;
}

ul.mininav li {
	display:inline;
}

/*Comments*/

div.rate {
	background:#eee;
	box-shadow:0px 1px 2px rgba(0,0,0,0.5);
	padding:0.2em 1em;
	margin:1em 0;
}

div.rate a:link {
	display:inline-block;
	background:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding:0.3em;
	border-radius: 8px;

}

div.rate a:hover {
	background-color:#aaa;
	border-radius: 8px;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

div.rate img {
	vertical-align: middle;
}

span#thumbs {
	display:block;
}

div.comments form {
	background:#ddd;
}

div.comments form textarea {
	width:100%;
}

div.comment {
	border-bottom:1px solid #666;
}

div.comment img {
	width:80px;
	float:right;
	margin-left:1em;
}

footer {
	clear:both;
	margin:0;
	padding: 22px 0 48px;
	background: url("/imgs/v2/footerBkg.png") repeat-x scroll 0 0 transparent;
	background-color:#393939;
	overflow:hidden;
}
footer li, footer ul, footer p, footer span {
	color:#c5c5c5;
	line-height: 1.1em;
}
footer span.PTClogo {
	background: url("/imgs/v2/icon_Sprite.png") no-repeat scroll -2px -453px transparent;
	margin: 0;
	text-indent: -9999px;
	display:block;
	float:left;
	width:48px;
	height: 40px;
}
footer span.PTClogo:hover {
	background-position:-2px -498px;
	cursor:pointer;
}
footer h3.logoPB a {
	background: url("/imgs/v2/logoPB.png") no-repeat scroll 0 0 transparent;
	text-indent: -9999px;
	display:block;
	width:150px;
	height: 40px;
	margin-left: 14px;
	line-height:2em;
}
footer ul.corporatelinks {
	display: block;
	margin-bottom: 18px;
}
footer ul.corporatelinks li {
	display: inline;
	color:#c5c5c5;
}
footer ul.corporatelinks li a {
	color:#c5c5c5;
	text-decoration:none;
}
footer ul.corporatelinks li a:hover {
	color:#f4f4f4;
	text-decoration:underline;
}
footer h4 {
	color:#c5c5c5;
	font-size: 1em;
	float:left;
	line-height:2.1em;
}
footer ul.sociallinks li {
	height: 24px;
	width:24px;
	display:inline-block;
	margin-left:8px;
 }
footer ul.sociallinks a.Fb_link, footer ul.sociallinks a.Twt_link, footer ul.sociallinks a.Gplus_link {
	display:inline-block;
	height: 24px;
	width:24px;
}
footer ul.sociallinks li a.Fb_link {

	background: url("/imgs/v2/icon_Sprite.png") no-repeat scroll -2px -542px transparent;
}
footer ul.sociallinks li a.Twt_link {

	background: url("/imgs/v2/icon_Sprite.png") no-repeat scroll -2px -570px  transparent;
}
footer ul.sociallinks li a.Gplus_link {

	background: url("/imgs/v2/icon_Sprite.png") no-repeat scroll -2px -598px transparent;
}
