[
  #pixelsquiz.types.Question{:id 0, :kind :multi, :score 0, :text "Test question: Is this the first test question?", :options ["#1 Correct" "#1 Wrong 1" "#1 Wrong 2" "#1 Wrong 3, with a comma"], :trivia "#1 trivia for the quizmaster."}
  #pixelsquiz.types.Question{:id 1, :kind :multi, :score 1, :text "image:test.jpg #2 Does this question have an image on the left?", :options ["#2 Correct" "#2 Wrong 1" "#2 Wrong 2" "#2 Wrong 3"], :trivia "#2 trivia for the quizmaster with some <b>bold</b> and <i>italic</i> tags."}
  #pixelsquiz.types.Question{:id 2, :kind :multi, :score 1, :text "#3 Does this question have an image on the right? image:test.jpg", :options ["#3 Correct" "#3 Wrong 1" "#3 Wrong 2" "#3 Wrong 3"], :trivia "#3 image should appear on the right in the main screen."}
  #pixelsquiz.types.Question{:id 3, :kind :multi, :score 1, :text "#4 Does this question have sound on the quiz console (end of round)? sound:test.mp3", :options ["#4 Correct" "#4 Wrong 1" "#4 Wrong 2" "#4 Wrong 3"], :trivia "#4 sound should appear on the right in the console."}
  #pixelsquiz.types.Question{:id 4, :kind :multi, :score 0, :text "Test question: Is this the <i>second</i> test question? With an image? Maybe too long? image:test.jpg", :options ["#5 Correct" "#5 Wrong 1" "#5 Wrong 2" "#5 Wrong 3"], :trivia "#5 The image should not affect the warmup label."}
  #pixelsquiz.types.Question{:id 5, :kind :multi, :score 1, :text "sound:test.mp3 #6 Does this question <b>also</b> have sound on the quiz console, and bold?", :options ["#5 Correct" "#5 Wrong 1" "#5 Wrong 2" "#5 Wrong 3"], :trivia "<b>#5</b> sound should appear on the right in the console."}
  #pixelsquiz.types.Question{:id 6, :kind :multi, :score 1, :text "sound:test.mp3 image:test.jpg #7 Does this question also have sound on the quiz console, and an image?", :options ["#6 Correct" "#6 Wrong 1" "#6 Wrong 2" "#6 Wrong 3"], :trivia "#6 has both sound on the right and an image on the left."}
  #pixelsquiz.types.Question{:id 7, :kind :multi, :score 1, :text "#8 How about this one (end of round)? sound:test.mp3 image:test.jpg", :options ["#7 Correct" "#7 Wrong 1" "#7 Wrong 2" "#7 Wrong 3"], :trivia "#7 has both sound and an image on the right."}
  #pixelsquiz.types.Question{:id 8, :kind :multi, :score 1, :text "This is <b><i>not</i></b> a test question, right?", :options ["#9 Correct" "#9 Wrong 1" "#9 Wrong 2" "#9 Wrong 3"], :trivia "#9 trivia for the quizmaster."}
  #pixelsquiz.types.Question{:id 9, :kind :multi, :score 1, :text "sound:test.mp3 image:test.jpg #10 Does this question also have sound on the quiz console, and an image?", :options ["#10 Correct" "#10 Wrong 1" "#10 Wrong 2" "#10 Wrong 3"], :trivia "#10 has both sound on the right and an image on the left"}
  #pixelsquiz.types.Question{:id 10, :kind :multi, :score 1, :text "#11 This question is just text. However, it is a very long question with should span a few lines. Yes?", :options ["#11 Correct" "#11 Wrong 1" "#11 Wrong 2" "#11 Wrong 3"], :trivia "#11 has nothing interesting to say."}
  #pixelsquiz.types.Question{:id 11, :kind :multi, :score 1, :text "#12 Just two more questions to go, with no trivia?", :options ["#12 Correct" "#12 Wrong 1" "#12 Wrong 2" "#12 Wrong 3."], :trivia ""}
  #pixelsquiz.types.Question{:id 12, :kind :multi, :score 1, :text "#13 The last question before the last question, no?", :options ["#13 Correct" "#13 Wrong 1" "#13 Wrong 2" "#13 Wrong 3"], :trivia "#13 The game is almost over."}
  #pixelsquiz.types.Question{:id 13, :kind :multi, :score 1, :text "#14 Just another question (end of game)?", :options ["#14 Correct" "#14 Wrong 1" "#14 Wrong 2" "#14 Wrong 3"], :trivia "#14 The game should be over if there are no ties."}
  #pixelsquiz.types.Question{:id 14, :kind :multi, :score 1, :text "#15 The first tiebreaker question?", :options ["#15 Correct" "#15 Wrong 1" "#15 Wrong 2" "#15 Wrong 3"], :trivia "#15 Should have a tiebreaker label"}
  #pixelsquiz.types.Question{:id 15, :kind :multi, :score 1, :text "#16 The second tiebreaker question?", :options ["#16 Correct" "#16 Wrong 1" "#16 Wrong 2" "#16 Wrong 3"], :trivia "#16 Should have a tiebreaker label"}
  #pixelsquiz.types.Question{:id 16, :kind :multi, :score 1, :text "#17 The third tiebreaker question?", :options ["#17 Correct" "#17 Wrong 1" "#17 Wrong 2" "#17 Wrong 3"], :trivia "#17 Should have a tiebreaker label"}
  #pixelsquiz.types.Question{:id 17, :kind :multi, :score 1, :text "#18 The fourth tiebreaker question?", :options ["#18 Correct" "#18 Wrong 1" "#18 Wrong 2" "#18 Wrong 3"], :trivia "#18 Should have a tiebreaker label"}
  #pixelsquiz.types.Question{:id 18, :kind :multi, :score 1, :text "#19 The fifth tiebreaker question?", :options ["#19 Correct" "#19 Wrong 1" "#19 Wrong 2" "#19 Wrong 3"], :trivia "#19 Should have a tiebreaker label"}
  #pixelsquiz.types.Question{:id 19, :kind :multi, :score 1, :text "#20 The sixth (and last) tiebreaker question?", :options ["#20 Correct" "#20 Wrong 1" "#20 Wrong 2" "#20 Wrong 3"], :trivia "#20 Should have a tiebreaker label"}
]
