[
  #pixelsquiz.types.Question{:id 0, :kind :multi, :score 0, :text "Test question: What is a monad?", :options ["Well..." "@#&!" "Please don't" "Don't bother"], :trivia ""}
  #pixelsquiz.types.Question{:id 1, :kind :multi, :score 1, :text "If I'm using Leiningen, that means I'm programming in...", :options ["Clojure" "Elixir" "Erlang" "PHP"], :trivia "&quot;for automating Clojure projects without setting your hair on fire&quot;"}
  #pixelsquiz.types.Question{:id 2, :kind :multi, :score 1, :text "In cars, what's a CAN?", :options ["a type of bus" "a moving toilet" "a sensor used in self-driving" "none of the other options"], :trivia "Controller Area Network bus."}
  #pixelsquiz.types.Question{:id 3, :kind :multi, :score 1, :text "In &quot;Alien&quot; (1979), only Ripley and the ship's cat survive. What's the name of the cat?", :options ["Jones" "Newt" "Ash" "Kane"], :trivia "Also called &quot;Jonesy&quot; during the movie. It's the only original character to survive the original trilogy."}
  #pixelsquiz.types.Question{:id 4, :kind :multi, :score 1, :text "What was Kubernetes' original name?", :options ["Project Seven" "Project Locutus" "Borg" "Unimatrix Zero One"], :trivia "Seven of Nine, a friendlier Borg."}
  #pixelsquiz.types.Question{:id 5, :kind :multi, :score 1, :text "Most &quot;International Atomic Time&quot; (TAI) clocks use which atomic element?", :options ["Caesium" "Americium" "Uranium" "Trilithium"], :trivia "The most common are Caesium-133 fountain clocks. It's used to keep a Quartz crystal stable, which is the actual clock part."}
  #pixelsquiz.types.Question{:id 6, :kind :multi, :score 1, :text "Which elusive figure wrote the legendary portuguese game &quot;Paradise Café&quot;?", :options ["Damatta" "Mafadã" "Tony Silva" "Cachucho"], :trivia ""}
  #pixelsquiz.types.Question{:id 7, :kind :multi, :score 1, :text "Who designed &quot;The Thing&quot; (a spy device also known as &quot;The Great Seal Bug&quot;)?", :options ["Leon Theremin" "Igor Sikorsky" "Mikhail Kalashnikov" "Peter Carl Fabergé"], :trivia "Unpowered microphone implanted by the soviets on a wooden carving of the US Great Seal, used to spy on the US embassador in Moscow."}
  #pixelsquiz.types.Question{:id 8, :kind :multi, :score 1, :text "Famous for its &quot;Seven Bridges&quot; problem, what's the present day name of Königsberg?", :options ["Kaliningrad" "Gdansk" "Murmansk" "St. Petersburg"], :trivia "Walk crossing each bridges once and only once. Proved impossible by Euler in 1736, kickstarting graph theory. German until WW2."}
  #pixelsquiz.types.Question{:id 9, :kind :multi, :score 1, :text "Which company created TypeScript?", :options ["Microsoft" "Mozilla" "Google" "Facebook"], :trivia ""}
  #pixelsquiz.types.Question{:id 10, :kind :multi, :score 1, :text "Which material was used for the hydrogen bags inside most Zeppelin airships?", :options ["Cow Guts" "Sheep Skins" "Pig Bladders" "Vynil"], :trivia "Called goldbeater's skin. It took about 100,000 cows to make the gas bags for a single WW1-era Zeppelin (later models were even bigger)."}
  #pixelsquiz.types.Question{:id 11, :kind :multi, :score 0, :text "Test question: In &quot;The Quest for the Holy Grail&quot;, the Grail was hidden in the Castle of...", :options ["Aaarrrghhh" "Urrrggghhh" "Errrrrgghhh" "Orrrrghhh"], :trivia ""}
  #pixelsquiz.types.Question{:id 12, :kind :multi, :score 1, :text "Who invented logarithms?", :options ["John Napier" "Isaac Newton" "Gottfried Leibniz" "Gilbert Vernam"], :trivia "1614. Replacing multiplication with addition. Logarithm tables were a major driving force for building historical computers."}
  #pixelsquiz.types.Question{:id 13, :kind :multi, :score 1, :text "What has C. A. R. Hoare called his &quot;Billion-dollar Mistake&quot;?", :options ["Null Reference" "NPM" "Quicksort" "Hoare Logic"], :trivia "Invention of the null reference in 1965 for ALGOL W."}
  #pixelsquiz.types.Question{:id 14, :kind :multi, :score 1, :text "How many digits (in US short scale) does the closest approximation of π to date have?", :options ["31.4 trillion" "22.4 trillion" "3.14 million" "3.14159 billion"], :trivia "By Emma Haruka Iwao, a Google employee on March 14."}
  #pixelsquiz.types.Question{:id 15, :kind :multi, :score 1, :text "The phrase &quot;I have come here to chew bubble gum and kick ass&quot; comes from...", :options ["They Live" "Duke Nukem 3D" "Terminator" "Doom"], :trivia "&quot;I have come here to chew bubblegum and kick ass...and I'm all out of bubblegum.&quot; Roddy Piper, 1988, John Carpenter (director)."}
  #pixelsquiz.types.Question{:id 16, :kind :multi, :score 1, :text "What kind of memory did the AGC (Apollo Guidance Computer) use as ROM?", :options ["Core Rope" "Diamonds" "Delay Lines" "Vinyl Records"], :trivia ""}
  #pixelsquiz.types.Question{:id 17, :kind :multi, :score 1, :text "In &quot;Black Mirror: Bandersnatch&quot;, Stefan is writing his game for which company?", :options ["Tuckersoft" "A&F Software" "Atari" "Sinclair"], :trivia ""}
  #pixelsquiz.types.Question{:id 18, :kind :multi, :score 1, :text "Who's the author of Vim?", :options ["Bram Moolenaar" "Bill Joy" "Richard Stallman" "Beelzebub"], :trivia "Vim is a clone of Vi, not based on it."}
  #pixelsquiz.types.Question{:id 19, :kind :multi, :score 1, :text "The ship sent to Jupiter in &quot;2010: Odyssey Two&quot; to recover the Discovery One is the...", :options ["Alexei Leonov" "Endeavour" "Lewis and Clarke" "Red Dwarf"], :trivia "Alexei Leonov was the first man to walk in space."}
  #pixelsquiz.types.Question{:id 20, :kind :multi, :score 1, :text "Which (compression) parameter would you use to create a &quot;.tar.bz2&quot; archive?", :options ["(small) j" "(small) z" "(capital) Z" "(small) x"], :trivia ""}
  #pixelsquiz.types.Question{:id 21, :kind :multi, :score 1, :text "What was Linux's original name?", :options ["Freax" "Tux" "Lynx" "Finnix"], :trivia "The name was changed by Ari Lemmke after Linus uploaded the source to ftp.funet.fi"}
  #pixelsquiz.types.Question{:id 22, :kind :multi, :score 0, :text "Test question: What is widely regarded as the one true editor?", :options ["Emacs" "Vi" "Visual Studio Code" "Eclipse"], :trivia "Ed is the standard editor."}
  #pixelsquiz.types.Question{:id 23, :kind :multi, :score 1, :text "What does the &quot;LZ&quot; in LZ77 (the compression algorithm) means?", :options ["Lempel-Ziv" "Lossless Zip" "Lerdorf-Zimmerman" "Lamport-Zuse"], :trivia " Abraham Lempel and Jacob Ziv. Used in ZIP and PNG."}
  #pixelsquiz.types.Question{:id 24, :kind :multi, :score 1, :text "The lowest numbered atomic element is Hydrogen. What's the highest?", :options ["Oganesson" "Lithium" "Hassium" "Iron"], :trivia "Named after the nuclear scientist Yuri Oganessian. It's element 118 in the periodic table. Hassium is 108."}
  #pixelsquiz.types.Question{:id 25, :kind :multi, :score 1, :text "Which IEEE standard covers floating-point numbers as used everywhere?", :options ["IEEE 754" "IEEE 802" "IEEE 1394" "IEEE 1284"], :trivia "802: standards related to networks; 1394: Firewire; 1284: obsolete Centronics/Paralell port. Institute of Electrical and Electronics Engineers."}
  #pixelsquiz.types.Question{:id 26, :kind :multi, :score 1, :text "In 1968, Douglas Engelbart presented the... what?", :options ["Mother of All Demos" "Xerox Alto" "ARPANET" "Oscars"], :trivia ""}
  #pixelsquiz.types.Question{:id 27, :kind :multi, :score 1, :text "In what year was Python 3.0 released?", :options ["2008" "2015" "2013" "2010"], :trivia "December 3, 2008. Python 2.7 will be retired in January 1, 2020."}
  #pixelsquiz.types.Question{:id 28, :kind :multi, :score 1, :text "Both the Xbox One and the PS4 use CPUs from which manufacturer?", :options ["AMD" "Intel" "Toshiba" "IBM"], :trivia "AMD Jaguar cores."}
  #pixelsquiz.types.Question{:id 29, :kind :multi, :score 1, :text "Name the first interstellar object ever detected crossing our solar system...", :options ["Oumuamua" "Rama" "Vesta" "Toutatis"], :trivia "Discovered in 19 October 2017."}
  #pixelsquiz.types.Question{:id 30, :kind :multi, :score 1, :text "In &quot;The Hunt for Red October&quot; which character orders &quot;one ping only&quot; (two names)?", :options ["Marko Ramius" "Vasili Borodin" "Andrei Sakharov" "Sergei Korolev"], :trivia ""}
  #pixelsquiz.types.Question{:id 31, :kind :multi, :score 1, :text "A program that prints (only) its own source code is called a... what?", :options ["Quine" "Zoot" "Monad" "Lambda"], :trivia ""}
  #pixelsquiz.types.Question{:id 32, :kind :multi, :score 1, :text "In electronics, what does JTAG mean?", :options ["Joint Test Action Group" "Junction Test Access Port" "Jumper Terminal Access Gateway" "Junction Transistor Access Gateway"], :trivia "Hint: standard protocol to debug chips and the likes"}
  #pixelsquiz.types.Question{:id 33, :kind :multi, :score 0, :text "Test question: In CSS, what's the hex code for the color &quot;Papaya Whip&quot;?", :options ["#FFEFD5" "#F0F8FF" "#6495ED" "#FF00FF"], :trivia "F0F8FF: aliceblue, 6495Ed: cornflowerblue, #FF00FF: fuchsia"}
  #pixelsquiz.types.Question{:id 34, :kind :multi, :score 1, :text "What was the first supercomputer to reach 1 TFLOPS?", :options ["ASCI Red" "Cray 1" "IBM Blue Gene/L" "Thinking Machines CM-5"], :trivia "1996, Sandia National Laboratories, nuclear simulations. Over 9000 Pentium Pros at 200 MHz. Blue Gene/L first to 100 TFLOPS in 2005(?)."}
  #pixelsquiz.types.Question{:id 35, :kind :multi, :score 1, :text "Which famous hacker group coined the term &quot;31337&quot; (elite)?", :options ["Cult of the Dead Cow" "Legion of Doom" "Chaos Computer Club" "Equation Group"], :trivia "Formed in June 1984 at the Farm Pac slaughterhouse, in Lubbock, Texas. BackOrifice in the late 90s."}
  #pixelsquiz.types.Question{:id 36, :kind :multi, :score 1, :text "The NSA has recently open-sourced a reverse engineering tool named... what?", :options ["Ghidra" "Radare" "Shibboleth" "Burp"], :trivia ""}
  #pixelsquiz.types.Question{:id 37, :kind :multi, :score 1, :text "The ship built for the CIA's Project Azorian under Howard Hughes' cover was the...", :options ["Glomar Explorer" "Benthic Explorer" "Titanic" "Spruce Goose"], :trivia "K-129 sunk in 1968 in the Pacific. Recovery in 1974 by the Hughes Glomar Explorer built to extract &quot;manganese nodules&quot;."}
  #pixelsquiz.types.Question{:id 38, :kind :multi, :score 1, :text "Homey Airport (KXTA) is best known by which name?", :options ["Area 51" "NORAD" "Cape Canaveral" "Cheyenne Mountain"], :trivia ""}
  #pixelsquiz.types.Question{:id 39, :kind :multi, :score 1, :text "In which ISA (Instruction Set Architecture) do you find the EIEIO instruction?", :options ["PowerPC" "SPARC" "ARM" "AMD64"], :trivia "EIEIO: PowerPC. Enforce In-Order Execution of IO."}
  #pixelsquiz.types.Question{:id 40, :kind :multi, :score 1, :text "Which unix shell shares its name with a major band active since 1993?", :options ["ksh" "ash" "fish" "zsh"], :trivia "ksh93 is the latest version still maintained by David Korn which, incidentally, is the same year that the band Korn started. Ash = Almquist Shell."}
  #pixelsquiz.types.Question{:id 41, :kind :multi, :score 1, :text "The spaceship in Christopher Nolan's &quot;Interstellar&quot; was called the...", :options ["Endurance" "Roger Young" "Prometheus" "O'Neill"], :trivia ""}
  #pixelsquiz.types.Question{:id 42, :kind :multi, :score 1, :text "The Soviets also had a &quot;Space Shuttle&quot; programme. What was its name?", :options ["Buran" "Soyuz" "Voskhod" "Salyut"], :trivia "Voskhod preceded the Soyuz. Salyut was a space station programme. Also: VKK Space Orbiter programme."}
  #pixelsquiz.types.Question{:id 43, :kind :multi, :score 1, :text "In what year does the film &quot;Dune&quot; (1984) take place?", :options ["10191" "2451" "1935" "3510"], :trivia "Virginia Madsen / Princess Irulan:  &quot;A beginning is a very delicate time. Know then that it is the year ...&quot;. Remake in 2020 by Dennis Villeneuve."}
  #pixelsquiz.types.Question{:id 44, :kind :multi, :score 1, :text "What is the closest planet to Earth, on average?", :options ["Mercury" "Venus" "Mars" "Jupiter"], :trivia "Closest to Earth 46% of the time; Venus is closest 36% of the time, while Mars is closest just 18% of the time."}
  #pixelsquiz.types.Question{:id 45, :kind :multi, :score 1, :text "In storytelling, a plot device that has no other purpose is called a... what?", :options ["MacGuffin" "Chekov's Gun" "Amplifier Artifact" "Deus Ex Machina"], :trivia "A term popularized by Alfred Hitchcock."}
  #pixelsquiz.types.Question{:id 46, :kind :multi, :score 1, :text "What is Mad Max's last name?", :options ["Rockatansky" "Minkowski" "Cohen" "Payne"], :trivia "As seen on the side of his yellow interceptor. Max Cohen is from Pi."}
  #pixelsquiz.types.Question{:id 47, :kind :multi, :score 1, :text "Which type of CPU was at the heart of the NeXTcube?", :options ["Motorola 68040" "Intel 386" "MIPS R5000" "DEC Alpha"], :trivia "32-bit at 25 or 33 MHz. Accept Motorola 68000."}
  #pixelsquiz.types.Question{:id 48, :kind :multi, :score 1, :text "Which famous scientist appeared in Apple's original logo?", :options ["Isaac Newton" "Albert Einstein" "Nikola Tesla" "Claude Shannon"], :trivia ""}
  #pixelsquiz.types.Question{:id 49, :kind :multi, :score 1, :text "The U-2 spy plane, in service since the mid-1950s, is also nicknamed the... what?", :options ["Dragon Lady" "Oxcart" "Aardvark" "Cygnus"], :trivia ""}
  #pixelsquiz.types.Question{:id 50, :kind :multi, :score 1, :text "What was the name of Apollo 13's command module?", :options ["Odyssey" "Eagle" "Aquarius" "Snoopy"], :trivia "Named after &quot;2001: A Space Odyssey&quot;. Snoopy was Apollo 10's lunar module."}
  #pixelsquiz.types.Question{:id 51, :kind :multi, :score 1, :text "Pressing Control-C in the terminal triggers which POSIX signal?", :options ["SIGINT" "SIGTERM" "SIGHUP" "SIGSEGV"], :trivia ""}
  #pixelsquiz.types.Question{:id 52, :kind :multi, :score 1, :text "In DNS, what type of resource record resolves an IP address into a name?", :options ["PTR" "A" "CNAME" "SRV"], :trivia "PTR means PoinTer Record."}
  #pixelsquiz.types.Question{:id 53, :kind :multi, :score 1, :text "Who wrote &quot;The Handmaid's Tale&quot;?", :options ["Margaret Atwood" "Mary Shelley" "Ursula Le Guin" "Doris Lessig"], :trivia ""}
  #pixelsquiz.types.Question{:id 54, :kind :multi, :score 1, :text "Which character was played by Van Damme in the 1994 movie &quot;Street Fighter&quot;?", :options ["Guile" "Ken Masters" "Sagat" "Chun Li"], :trivia "Colonel Guile"}
  #pixelsquiz.types.Question{:id 55, :kind :multi, :score 1, :text "Who was the first woman to fly in space?", :options ["Valentina Tereshkova" "Sally Ride" "Eileen Collins" "Svetlana Savitskaya"], :trivia "Vostok 6, 16 June 1963. Sally first american, 1983. Svetlana second, 1982. Eileen first Space Shuttle pilot and commander."}
  #pixelsquiz.types.Question{:id 56, :kind :multi, :score 1, :text "Which author first coined &quot;robot&quot; as we understand it now (androids/machines)?", :options ["Karel Čapek" "Isaac Azimov" "Arthur C. Clarke" "Stanislaw Lem"], :trivia "From the 1920 play &quot;Rossum's Universal Robots&quot;. &quot;Robota&quot; roughly means &quot;hard labourer&quot; in russian."}
  #pixelsquiz.types.Question{:id 57, :kind :multi, :score 1, :text "What's the type number for ICMP echo-request... in IPv6?", :options ["128" "129" "3" "2"], :trivia "<= 127 are errors, >= 128 are informational, 129 is echo-reply"}
  #pixelsquiz.types.Question{:id 58, :kind :multi, :score 1, :text "What's the following number in this sequence: 1, 11, 21, 1211, 111221", :options ["312211" "322111" "11112211" "1112211"], :trivia "It's called the &quot;look-and-say sequence&quot;."}
  #pixelsquiz.types.Question{:id 59, :kind :multi, :score 1, :text "The first US manned space program was Project Mercury. Name 1 of its 3 rockets...", :options ["Redstone" "Titan" "Jupiter" "Saturn I-B"], :trivia "Atlas (orbital) and Redstone (suborbital) were the Project Mercury rockets, plus Little Joe for unmanned tests."}
  #pixelsquiz.types.Question{:id 60, :kind :multi, :score 1, :text "Unix was first written for which line of computers?", :options ["PDP" "VAX" "UNIVAC" "Altair 8800"], :trivia "PDP = DEC Programmable Data Processor. Unix was created for the PDP-7 and later PDP-11/20."}
  #pixelsquiz.types.Question{:id 61, :kind :multi, :score 1, :text "Who wrote &quot;Starship Troopers&quot; (the book)?", :options ["Robert A. Heinlein" "Alastair Reynolds" "Aldous Huxley" "William Gibson"], :trivia "Huxley wrote &quot;Brave New World&quot;."}
  #pixelsquiz.types.Question{:id 62, :kind :multi, :score 1, :text "Which agency developed the &quot;Easy Chair&quot; bugs for the CIA?", :options ["Dutch Radar Laboratory (NRP)" "Staatssicherheitsdienst (Stasi)" "MI6" "PIDE"], :trivia "Dutch Internal Security Service (BVD) / Dutch Radar Laboratory (NRP). Operation Easy Chair 1958/1959."}
  #pixelsquiz.types.Question{:id 63, :kind :multi, :score 1, :text "What's the most common form of written Galactic Basic in the Star Wars universe?", :options ["Aurebesh" "Shyriiwook" "Ubese" "Droidspeak"], :trivia ""}
  #pixelsquiz.types.Question{:id 64, :kind :multi, :score 1, :text "Ray Bradbury wrote which 1953 best-selling sci-fi novel?", :options ["Fahrenheit 451" "The City and the Stars" "Robot Dreams" "Brave New World"], :trivia ""}
  #pixelsquiz.types.Question{:id 65, :kind :multi, :score 1, :text "What was the name of the algorithm that eventually became DES?", :options ["Lucifer" "Rijndael" "RC4" "Skipjack"], :trivia "Developed in the early 1970s, adopted in 1977 (modified) as the Data Encryption Standard. Publicly broken by the DESCHALL project in 1997."}
  #pixelsquiz.types.Question{:id 66, :kind :multi, :score 1, :text "Name the capsule used by SpaceX to resupply the ISS?", :options ["Dragon" "Cygnus" "ATV" "Progress"], :trivia "Dragon's first flight contained a secret payload, which was actually a wheel of cheese."}
  #pixelsquiz.types.Question{:id 67, :kind :multi, :score 1, :text "How many lines does Arnold Schwarzenegger have in the Terminator (1984)?", :options ["16" "100" "50" "3"], :trivia ""}
  #pixelsquiz.types.Question{:id 68, :kind :multi, :score 1, :text "Who composed for &quot;The Hunt for Red October&quot;, &quot;Starship Troopers&quot;, and &quot;RoboCop&quot;?", :options ["Basil Poledouris" "John Williams" "Ramin Djawadi" "Hans Zimmer"], :trivia ""}
  #pixelsquiz.types.Question{:id 69, :kind :multi, :score 1, :text "What is the Pantone Color of the Year for 2019?", :options ["Living Coral" "Feldgrau" "Mimosa" "Marsala"], :trivia "Some sort of reddish pink."}
  #pixelsquiz.types.Question{:id 70, :kind :multi, :score 1, :text "In Star Trek, the training scenario that could not be won was called the...", :options ["Kobayashi Maru" "Hakudo Maru" "Yamato" "Hyabusa"], :trivia ""}
  #pixelsquiz.types.Question{:id 71, :kind :multi, :score 1, :text "Who's the author of the Spectrum game &quot;Nohzdyve&quot; in &quot;Black Mirror: Bandersnatch&quot;?", :options ["Colin Ritman" "Stefan Butler" "Jerome F. Davies" "John Tobias"], :trivia ""}
  #pixelsquiz.types.Question{:id 72, :kind :multi, :score 1, :text "In Frank Herbert's &quot;Dune&quot;, Paul Muad'Dib comes from which noble House?", :options ["House Atreides" "House Harkonnen" "House Corrino" "House Richese"], :trivia "Dune is getting a remake from Blade Runner 2049's Dennis Villeneuve, due 2020."}
  #pixelsquiz.types.Question{:id 73, :kind :multi, :score 1, :text "The AES process had 15 candidate cipher algorithms. Name four of them...", :options ["FROG, LOKI97, Twofish, DEAL" "CAST-256, Rijndael, E2, Skipjack" "DEAL, CRYPTON, RC6, Blowfish" "Serpent, MARS, Twofish, Camellia"], :trivia "CAST-256, CRYPTON, DEAL, DFC, E2, FROG, HPC, LOKI97, MAGENTA, MARS*, RC6*, Rijndael**, SAFER+, Serpent*, and Twofish*."}
]
